/* navbar */
body{
    overflow-x: hidden;
 }

/* navbar */
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: 0.7s;
    padding: 5px 5px;
    z-index: 10;
    font-weight: bold
    

}
a{
    font-weight: 100;
}

header.abajo{
    background: #fff;
}

/* colores */
.dark{
    color: rgb(0, 0, 0);
}

.white{
    color: #fff;
}
 
/* texto principal */
.text-p{
    display: flex;
    align-items:center;
    justify-content: center;
    

}
.t-top-img{
    font-style: normal;
    text-decoration: none;
    color: rgb(255, 255, 255);
}


.zona1{
    position: relative;
    width: 100%;
    height: 110vh;
    background: url(./img/prueba.jfif);
    background-size: cover;
    background-position: center center;
}

.zona1-menu{
    position: relative;
    width: 100%;
    height: 65vh;
    background: url(./img/fondo-m2.jpg);
    background-size: cover;
    background-position: center center;}
    
 .zona3{
    margin-top: 50px;
    padding: 50px;
    position: relative;
    width: 100%;
    height:  50vh;
    background: url(./img/puede.jpg);
    background-size: cover;
    background-position: center center}

    /* pagina nosotros */
    .zona1-d {
        padding: 50px;
        position: relative;
        width: 100%;
        height:  70vh;
        background: url(./img/fond-\ cont.jpg);
        background-size: cover;
        background-position: center center}
        
    
      /* pagina contacto */
    .zona1-c {  
    padding: 50px;
    position: relative;
    width: 100%;
    height:  60vh;
    background: url(./img/ct-imagen.jpg);
    background-size: cover;
    background-position: center center}
    
/* pagina conctato */
    .img-p{
        display: flex;

    
    }

    /* animatic */
    @keyframes scale-up-center{0%{transform:scale(.5)}100%{transform:scale(1)}}
    .scale-up-center{animation:scale-up-center .6s cubic-bezier(.39,.575,.565,1.000) both}

    /* tablet o movil*/
    @media(max-width: 768px){
        .display{
            display: none;
        }
    }
   